<% layout ('layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-8 offset-2">

        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">Algo deu errado</h4>
            <p>
                <%= err.message %>
            </p>
            <hr>
            <% if (process.env.NODE_ENV !== "production") { %>
            <hr>
            <p><%= err.stack %> </p>
            <% } %>
        </div>
    </div>
</div>